label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}
.box{
	display: none;
	display: flex;
	justify-content: center;
}
.radio-toolbar input[type="radio"] {
	opacity: 0;
	width: 0;
}
.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}
.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bfb;
    border-color: #4c4;
}
.radio-toolbar label:hover {
	background-color: #dfd;
}

h1 { 
	font-family: Helvetica;
	text-align: center;
	font-weight: 100; 
}

h2 { 
	font-family: Helvetica;
	text-align: center;
	font-weight: 100; 
} 

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	font-family: Helvetica; 
	font-weight: 100;
	margin-top: 15px; 
}
input[type=submit]:hover {
	background-color: #45a049;
}

input[type=text] { 
	height: 25px; 
	width: 300px; 
} 

label { 
	font-family: "Helvetica"; 
	font-weight: 100; 
} 